* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: white;
    --black: black;

    --b-radius: 5px;
    --padding: 10px;
}

body {
    background-color: grey;
}

hr {
    border: 1px solid #eee;
}

.box-modal {
    background-color: white;
    width: 400px;
    height: auto;
    border-radius: var(--b-radius);

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.modal-header {
    color: var(--black);
    padding: var(--padding);
}

.modal-body {
    color: var(--black);
    padding: var(--padding);
    line-height: 2;
}

.modal-footer {
    padding: var(--padding);
}

.btn-1 {
    color: var(--black);
    border: solid 2px grey;
    border-radius: var(--b-radius);
    margin-right: 5px;
    background-color: #eee;
}

.btn-2 {
    color: var(--white);
    border: solid 2px green;
    border-radius: var(--b-radius);
    background-color: #43a047;
}